h1 Appointment Maker
p The ultimate appointment maker application that allows you to keep track of your to-dos list right on the web

h4 Quick Start
ul
  li browse your appointment per week
  li click on a time slot to block 1 hour from 9am to 5pm
  li once filling out the form, your booked appointment is displayed in red
