.calendar
  .table>tbody>tr>th
    border 0

  .table>tbody>tr>td
    border-top #d3e397 2px solid

  .appt:hover
    border #eb6e44 2px dotted

  .time-slot
    border-top 0!important
    font-size 10px
    span
      color #8dcdc1
    span
      bottom 52px

  .week-navigator
    .glyphicon.glyphicon-triangle-left:before,.glyphicon.glyphicon-triangle-right:before
      position absolute
      top 10px
